# Mercado Pago
MP_ACCESS_TOKEN=TEST-xxxxxxxxxxxxxxxxxxxxxxxxxxxx
MP_PUBLIC_KEY=TEST-xxxxxxxxxxxxxxxxxxxxxxxxxxxx

# Correo electrónico Zoho
EMAIL_USER=tu-correo@zohomail.com
EMAIL_PASS=tu-contraseña
EMAIL_TO=ventas@tudominio.cl
EMAIL_FROM=ventas@tudominio.cl

# Opcional: cambia si usas otro puerto
PORT=3000
